body {
    color: #D7CEB2;
    background-color: #54414E;
    text-align: center;
    font-family: "Quicksand";
}


.form-control, .form-control:focus{
    width: 220px;
    color: #D7CEB2;
    background-color: #54414E;
    border: solid 0.5px #D7CEB2;
    border-radius: 17px;
    margin: 0 auto;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 0px;
}

.btn,  .btn:focus{
    color: #D7CEB2;
    border: solid 0.5px #D7CEB2;
    border-radius: 14px;
    font-size: 12px;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
}

.btn:hover{
    color: #54414E;
    border: solid 0.5px #54414E;
    background-color: #D7CEB2;
}

#display{
    font-size: 65px;
    font-family: "Arima Madurai";
    margin-bottom: 0;
}

p {
    font-size: 12px;
}

#description {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 10px;
}

#heading1{
    margin-bottom: 0;
}

td{
    width: 90px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.mainSection{
    margin-top: 250px;
}